* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(172, 160, 160);
}

h1 {
    text-align: center;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(99, 25, 168, 0.849);
}

h2 {
    text-transform: uppercase;
    color: rgba(67, 13, 117, 0.836);
}

ul {
    list-style-type: none;
}

p {
    display: inline-block;
}

.recipe-intro {
    text-align: center;
    margin: 0 15px;
}

img {
    width: 880px;
    height: 650px;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}

.recipe-content {
    margin: 30px auto;
    width: 1500px;
    border: 5px solid purple;
    font-size: 20px;
    background-color: rgba(245, 245, 245, 0.959);
}

.recipe-info {
    width: 550px;
    display: inline-block;
    margin: 20px 0 20px 30px;
}