body {
    font-family: Tahoma, sans-serif;
    background-color: blanchedalmond;
}

img {
    height: auto;
    width: 500px;
}

.title {
    font-size: 40px;
}

.headings {
    font-size: 25px;
}

.para {
    font-size: 20px;
}