* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    background-color: rgb(233, 204, 166);
    line-height: 1;
}

.container {
    border: 2px solid brown;
    width: 1500px;
    margin: 20px auto;
    background-color: rgba(226, 143, 75, 0.87);
    text-align: center;
    padding: 15px 0;
}

img {
    width: 800px;
    height: auto;
    display: inline-block;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    color: rgb(78, 12, 12);
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

a {
    font-size: 18px;
}

p {
    color: rgb(134, 17, 17);
    font-size: 20px;
    font-weight: 700;
}