* {
    line-height: 1.7;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, serif;
    background-color: rgb(224, 179, 119);
}

h1 {
    font-family: Garamond, serif;
    color: rgb(94, 9, 9);
    margin-bottom: 18px;
    font-size: 35px;
}

h2 {
    margin-bottom: 25px;
}

img {
    width: 750px;
    height: auto;
}

.homepage {
    background-color: rgba(226, 143, 75, 0.87);
    width: 1000px;
    padding: 50px;
    border: 5px solid brown;
    text-align: center;
    margin: 20px auto;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
}

.homepage-content {
    text-align: left;
    width: 705px;
    margin: 20px 70px;
}

p {
    font-size: 22px;
}

.description {
    margin-bottom: 20px;
}

a {
    font-size: 23px;
    color: brown;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}